<section data-aos="fade-up" data-aos-once="true" class="main-section wrapper">
  <h1 class="main-section__header text-uppercase wow fadeInLeft">
    <span class="lg-accent">Pegasus grows</span> your Cryptoassets with the most competitive strategies in
    <br class="d-lg-none" />
    <span class="lg-accent">all of DeFi</span>
  </h1>
  <p class="main-section__paragraph fw-bold wow fadeInLeft" data-wow-duration="2s">
    <span class="accent">TOTAL VALUE LOCKED:</span><br class="d-lg-none" />
    <span class="count"> $50.7B</span>
  </p>
  <img [src]="mainSectionImage" alt="Decore" class="main-section__image wow fadeInRight" data-wow-duration="2s" />
</section>
