<section class="main-section wrapper">
  <h1 class="main-section__header text-uppercase">
    <span class="lg-accent">Pegasus grows</span> your Cryptoassets with the most competitive strategies in
    <br class="d-lg-none" />
    <span class="lg-accent">all of DeFi</span>
  </h1>
  <p class="main-section__paragraph fw-bold">
    <span class="accent">TOTAL VALUE LOCKED:</span><br class="d-lg-none" />
    <span class="count"> $50.7B</span>
  </p>
  <img src="assets/images/content/1.svg" alt="Decore" class="main-section__image" />
</section>
