<div class="card simple-card" [ngStyle]="imgStyle">
  <div class="simple-card__data">
    <p><span class="blue">Earning Rate:</span><br /><span class="count dark">0.96%</span></p>
    <p><span class="blue">Locked (USD):</span><br /><span class="count dark">$9.41B</span></p>
    <button class="button button_flat-blue d-none d-lg-block">VIEW</button>
    <button class="button button_flat-blue button_rounded d-lg-none d-md-block">VIEW</button>
  </div>
  <div class="simple-card__token">
    <div class="token">
      <p class="font-weight-bold dark">WBTC</p>
      <img [src]="tokenIco" alt="Token icon" />
    </div>
  </div>
</div>
