@import "src/scss/_variables";

.blog {
  background: $light;
  padding-top: 2rem;
  padding-bottom: 95px;

  &__title {
    margin-top: 2rem;
  }

  &__container {
    position: relative;
    height: 230px;
    overflow: hidden;

    @media screen and (min-width: $md) {
      height: auto;
    }
  }

  &__fade {
    height: 100%;
    content: "";
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(180deg, transparent 40%, #fff 101%);
  }

  &__card {
    margin-top: 1rem;
  }

  &__button {
    margin-top: 2rem;
  }
}
