@import "src/scss/_variables";

.footer {
  background: $blue;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 0.5rem;

    @media screen and (min-width: $md) {
      padding: 0 1rem;
    }
  }

  &__element {
    display: flex;
    height: 100%;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;

    @media screen and (min-width: $lg) {
      display: flex;
      height: 100%;
      flex: 0 1 33.333%;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logo {
      max-height: 90%;
    }

    .logo-text {
      max-height: 60%;
    }
  }

  &__socials {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: $md) {
      gap: 1rem;
    }
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $light;
    font-size: 9px;
    line-height: 13px;

    li {
      display: inline-block;
      margin-right: 0.5rem;

      &:last-child {
        margin: 0;
      }
    }

    @media screen and (min-width: $md) {
      font-size: 10px;
    }

    @media screen and (min-width: $lg) {
      font-size: 12px;
    }
  }
}
