<main>
  <div class="gradient">
    <div class="content">
      <app-main-section></app-main-section>
      <app-pools-section></app-pools-section>
      <app-about-section></app-about-section>
      <app-features-section></app-features-section>
      <app-partners-section></app-partners-section>
    </div>
    <div class="decorations">
      <div class="decore decore_first"></div>
      <div class="decore decore_second"></div>
      <div class="decore decore_third"></div>
      <div class="decore decore_fourth"></div>
      <div class="decore decore_fifth"></div>
    </div>
  </div>
  <app-blog-section></app-blog-section>
</main>
