<footer class="footer" [ngClass]="{ dark: apperance == 'dark', blue: apperance == 'blue' }">
  <div class="footer__wrapper wrapper">
    <div class="footer__element d-none d-lg-flex">
      <div class="footer__logo">
        <img class="logo" src="assets/images/logo/logo.svg" alt="Pegasus logotype" />
        <img class="logo-text" src="assets/images/logo/logo_text.svg" alt="Pegasus logotype text" />
      </div>
    </div>
    <div class="footer__element justify-content-start justify-content-lg-center">
      <div class="footer__socials">
        <img src="assets/images/socials/facebook.svg" alt="Facebook icon" />
        <img src="assets/images/socials/instagram.svg" alt="Instagram icon" />
        <img src="assets/images/socials/twitter.svg" alt="Twitter icon" />
      </div>
    </div>
    <div class="footer__element">
      <ul class="footer__links">
        <li>ALL RIGHTS RESERVED</li>
        <li>PRIVACY POLICY</li>
      </ul>
    </div>
  </div>
</footer>
