<section class="partners wrapper padding margin">
  <h2 class="partners__title title text-right">OUR PARTNERS</h2>
  <div class="partners__block row d-none d-lg-flex">
    <div class="col-4 block__image d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/logo/haechi.svg" alt="haechiAudit logotype" />
    </div>
    <div class="col-4 block__image d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/logo/uniswap.svg" alt="haechiAudit logotype" />
    </div>
    <div class="col-4 block__image d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/logo/consensys.svg" alt="haechiAudit logotype" />
    </div>
  </div>

  <div class="partners__block row d-block d-lg-none">
    <div class="col-12 block__image d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/logo/haechi_light.svg" alt="haechiAudit logotype" />
    </div>
    <div class="col-12 block__image d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/logo/uniswap_light.svg" alt="haechiAudit logotype" />
    </div>
    <div class="col-12 block__image d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/logo/consensys_light.svg" alt="haechiAudit logotype" />
    </div>
  </div>
</section>
