<section class="altcoins mb-4">
  <div class="altcoins__wrapper wrapper padding">
    <h2 class="title_dashboard dark">Altcoins</h2>
    <table class="table">
      <thead class="table__head">
        <tr class="blue">
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Price (24h %):</th>
          <th scope="col">% of token in pool</th>
          <th scope="col">My balance now:</th>
        </tr>
      </thead>
      <tbody class="dark">
        <tr>
          <td><img class="table__ico" [src]="tokenIco" alt="Token icon" /></td>
          <td class="font-weight-bold">USDC</td>
          <td>0.75%</td>
          <td>0.3%</td>
          <td>$300 (42 DAI)</td>
        </tr>
        <tr>
          <td><img class="table__ico" [src]="tokenIco" alt="Token icon" /></td>
          <td class="font-weight-bold">USDC</td>
          <td>0.75%</td>
          <td>0.3%</td>
          <td>$300 (42 DAI)</td>
        </tr>
        <tr>
          <td><img class="table__ico" [src]="tokenIco" alt="Token icon" /></td>
          <td class="font-weight-bold">USDC</td>
          <td>0.75%</td>
          <td>0.3%</td>
          <td>$300 (42 DAI)</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
