<div class="card">
  <div class="row p-0 m-0">
    <div class="col-7 col-md-9 row p-0 m-0">
      <div class="col-12 col-md-4 col-lg-12 mb-1 px-0">
        <p class="card__text mb-2 blue">Current APY: <br /><span class="count dark">0.96%</span></p>
        <p class="card__text blue m-0">APY (300 Avg.): <br /><span class="count dark">0.5%</span></p>
      </div>
      <div class="col-12 col-md-8 col-lg-12 px-0">
        <p class="card__text mb-2 blue">My balance now: <br /><span class="count dark">$300 (42 DAI)</span></p>
        <p class="card__text blue m-0">
          TVL: <br /><span class="count dark">$30,000 <br class="d-block d-md-none" />(20012 DAI)</span>
        </p>
      </div>
    </div>
    <div class="col-5 px-0 col-md-3 d-flex flex-column justify-content-between">
      <div class="card__token token justify-content-end">
        <p class="font-weight-bold dark">WBTC</p>
        <img [src]="tokenIco" alt="Token icon" />
      </div>
      <button class="button button_flat-dark d-lg-none">OPEN</button>
      <button class="button button_flat-dark d-none d-lg-block button_rounded">OPEN</button>
    </div>
  </div>
</div>
