.title {
  font-size: 18px;
  line-height: 21px;

  @media screen and (min-width: $md) {
    font-size: 30px;
    line-height: 35px;
  }

  @media screen and (min-width: $lg) {
    font-size: 42px;
    line-height: 49px;
  }
}
