@import "src/scss/_variables";

.portfolio {
  background: $grey;

  &__devider {
    @media screen and (min-width: $lg) {
      border-left: 1px solid rgba($dark, 0.33);
      padding: 1rem 0;
    }
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 33px;

    @media screen and (min-width: $lg) {
      font-size: 19px;
      line-height: 47px;
    }

    margin-bottom: 1rem;

    &:last-child {
      @media screen and (min-width: $lg) {
        margin-bottom: 0;
      }
    }

    hr {
      color: $dark;
      height: 1px;
      width: 100%;
      margin: 0.5rem;
    }

    &.sepical {
      @media screen and (min-width: $lg) {
        line-height: 24px;
      }
    }
  }
}
