<div class="portfolio card">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-4 mb-3 m-md-0 d-flex align-items-center">
      <div class="portfolio__chart mx-auto">
        <canvas id="myPie"></canvas>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="portfolio__devider row">
        <div class="col-12 col-lg-7" *ngIf="userBalance">
          <div class="portfolio__panel panel panel_blue">
            <span>{{ userBalance[0].symbol }}</span>
            <span>{{ userBalance[0].percentage }}% (3000 USD)</span>
          </div>
          <div class="portfolio__panel panel panel_dark">
            <span>{{ userBalance[1].symbol }}</span>
            <span>{{ userBalance[1].percentage }}% (7000 USD)</span>
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="portfolio__panel special panel d-lg-flex flex-lg-column align-items-center m-0">
            <span>TOTAL AMOUNT</span>
            <hr class="d-none d-lg-block" />
            <span>70% (7000 USD)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
