<div class="portfolio card">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <div class="portfolio__devider row">
        <div class="col-12 col-lg-8">
          <div class="portfolio__panel panel panel_blue">
            <span>WBTC</span>
            <span>30% (3000 USD)</span>
          </div>
          <div class="portfolio__panel panel panel_dark">
            <span>USDC</span>
            <span>70% (7000 USD)</span>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="portfolio__panel panel d-lg-flex flex-lg-column align-items-center">
            <span>TOTAL AMOUNT</span>
            <hr class="d-none d-lg-block" />
            <span>70% (7000 USD)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
